* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-main-1: #191e2a;
  --bg-main-2: #10141c;
  --bg-header: #000000cc;

  --white: #fff;
  --black: #000;

  --accent-1: #F7971E;
  --accent-2: #FFD200;

  --gradient: linear-gradient(to right, #F7971E, #FFD200);
  --gradient-inverted: linear-gradient(to left, #F7971E, #FFD200);
  --gradient-scrollbar: linear-gradient(to bottom, #F7971E, #FFD200);

  --transition: 0.15s ease-in-out;

  --scale-value: 0.9;
}

body {
  background-color: var(--bg-main-1);
  color: var(--white);
  transform: scale(--scale-value);
  transform-origin: 0 0;
}

.nav-bar {
  position: fixed;
  display: flex;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: var(--bg-header);
  backdrop-filter: blur(8px);
  color: var(--text-color);
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}

.logo {
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: var(--transition);
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  position: relative;
  color: var(--text-color);
  font-weight: 300;
}

.nav-links a::before {
  background: var(--gradient);
  position: absolute;
  content: '';
  width: 0;
  left: 0;
  height: 4px;
  top: 25px;
  border-radius: 1rem;
  transition: var(--transition);
}

.nav-links a:hover::before {
  width: 100%;
}

.visit-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
  text-wrap: nowrap;
  transition: var(--transition);
  color: var(--black);
  background: var(--gradient);
}

.visit-btn:hover {
  transform: scale(1.05);
  background: var(--gradient-inverted);
}

#menu-icon {
  font-size: 2rem;
  display: none;
}

span {
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}

section {
  min-height: 100vh;
  padding: 8rem 12%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.home-container h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.home-container h3 {
  margin: 0.8rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.home-container h4 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.8;
}

.home-container p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
}

.home-img img {
  width: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--accent-1);
  transition: var(--transition);
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--accent-2),
    0 0 50px var(--accent-2),
    0 0 100px var(--accent-2)
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem 0.3rem;
  background: transparent;
  border: 2px solid var(--accent-1);
  border-radius: 50%;
  color: var(--accent-1);
  margin: 1.25rem 0.3rem;
  transition: var(--transition);
}

.social-icons a:hover {
  color: var(--black);
  background-color: var(--accent-2);
  transform: scale(1.2) translateY(-5px);
  border: 2px solid var(--accent-2);
  box-shadow: 0 0 25px var(--accent-2);
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background: var(--accent-1);
  box-shadow: 0 0 25px var(--accent-1);
  border-radius: 3rem;
  font-size: 1rem;
  color: var(--black);
  border: 2px solid transparent;
  font-weight: 600;
  transition: var(--transition);
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--accent-2),
    0 0 50px var(--accent-2);
  background-color: var(--accent-2);
}

.btn-group .btn:nth-of-type(2) {
  background-color: var(--bg-main-1);
  color: var(--accent-1);
  border: 3px solid var(--accent-1);
  box-shadow: 0 0 25px transparent;
}

.btn-group .btn:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--accent-2);
  background-color: var(--accent-2);
  color: var(--black);
  border: 3px solid var(--accent-2);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: var(--bg-main-2);
}

.about-img img {
  width: 28vw;
  border-radius: 3rem;
  box-shadow: 0 0 25px var(--accent-1);
  transition: var(--transition);
}

.about-img img:hover {
  box-shadow: 0 0 25px var(--accent-2),
    0 0 50px var(--accent-2),
    0 0 100px var(--accent-2);
}

.about-container h2 {
  font-size: 3rem;
  text-align-last: left;
}

.about-container p {
  font-size: 1.1rem;
}

.about-container .btn {
  margin: 2rem 0;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: var(--bg-header);
}

::-webkit-scrollbar-thumb {
  background: var(--gradient-scrollbar);
  border-radius: 3rem;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin: -1rem 0 1rem 0;
}

.projects {
  background-color: var(--bg-main-1);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  border: 2px solid var(--accent-1);
  border-radius: 3rem;
  box-shadow: 0 0 5px var(--accent-1);
  cursor: pointer;
  transition: var(--transition);
}

.project-card .btn {
  text-wrap: nowrap;
}

.project-card:hover {
  background-color: var(--bg-main-2);
  border: 2px solid var(--accent-2);
  box-shadow: 0 0 25px var(--accent-2),
    0 0 50px var(--accent-2);
  transform: scale(1.01);
}

.project-card img {
  width: 20vw;
  height: 25vh;
  border-radius: 2rem;
}

.services {
  background-color: var(--bg-main-2);
  color: var(--black);
}

.services h2 {
  color: var(--white);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  gap: 2rem;
}

.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-1);
  box-shadow: 0 0 25px var(--accent-1);
  height: 450px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: var(--transition);
}

.service-card:hover {
  background: var(--bg-main-2);
  color: var(--accent-2);
  border: 5px solid var(--accent-2);
  transform: scale(1.03);
  box-shadow: 0 0 25px var(--accent-2),
    0 0 50px var(--accent-2);
}

.service-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.service-info h4 {
  font-size: 1.3rem;
  margin: 1.5rem 0;
  font-weight: 800;
}

.service-info p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.service-info i {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.contact {
  background-color: var(--bg-main-1);
}

.contact form {
  min-width: 50rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 0.7rem;
  font-size: 0.8rem;
  border-radius: 0.8rem;
  background-color: var(--bg-main-1);
  border: 2px solid var(--accent-1);
  color: var(--white);
  box-shadow: 0 0 5px var(--accent-1);
  margin: 0.7rem 0;
  resize: none;
  transition: var(--transition);
}

.contact form .input-box input {
  width: 49%;
  margin: 0.7rem 0.35rem;
}

.contact form .input-box input:focus,
.contact form textarea:focus {
  border: 2px solid var(--accent-2);
  box-shadow: 0 0 25px var(--accent-2);
  background-color: var(--bg-main-2);
  outline: none;
}

.contact form .btn-group {
  justify-content: center;
  margin-top: 2rem;
}

.footer {
  background-color: var(--bg-main-2);
  padding: 50px 0;
}

.footer .social-icons {
  text-align: center;
}

.footer .nav-links {
  justify-content: center;
  font-size: 1rem;
  margin-top: 5px;
  font-weight: 600;
}

.footer .nav-links a {
  display: inline-block;
  margin-left: 10px;
}

.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
}